<app-header
  [title]="title$ | async"
  (toggleSideBarForMe)="drawer.toggle()"
></app-header>

<div class="loader-container" *ngIf="loader$ | async">
  <app-progress-bar></app-progress-bar>
</div>

<mat-sidenav-container>
  <mat-sidenav
    #drawer
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-nav-list>
      <app-sidebar
        *ngFor="let item of navItems; trackBy: trackByFn"
        [item]="item"
      ></app-sidebar>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div (window:resize)="breakpointService.onResize($event)"></div>

    <div class="grid-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
